# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Android
Aqua-controller-APP/.gradle
Aqua-controller-APP/local.properties
Aqua-controller-APP/.idea/workspace.xml
Aqua-controller-APP/.idea/libraries
Aqua-controller-APP/.DS_Store
Aqua-controller-APP/build
Aqua-controller-APP/captures

*.class

# Keil uC

hardware/hid_dev/MDK-ARM/hid_dev_Config

